// .resume-wrapper {
//     position: fixed;
// margin-left: 200px;
// width: 100%;
// height: auto;
// }

// .resume {
//     position: sticky;
//     padding: 50px 100px;
//     width: 50%;
//     height: 100%;
// }

@media screen and (max-width: 800px) {
    .resume {
        // width: auto;
        // height: auto;
        position: absolute;
        top: 0px;
        left: 0px;
        margin-top: 25%;
    }
}